<!-- products -->
<div  class="products">
		<div class="container">
			<div class="row">
					<div class="col-md-12">
						<div class="titlepage">
								<h2>Products</h2>
						</div>
					</div>
			</div>
			<div class="row">
					<div class="col-md-12">
						<div class="our_products">
								<div class="row">
									<% @products.each do |product| %>
										<div class="col-md-4 margin_bottom1">
											<div class="product_box">
												<figure><%= image_tag("product1.png") %></figure>
												<h4><%= product.name %></h4>
												<p>Rs. <%= product.price %></p>
												<%= link_to "Add to cart", "/carts/add/#{product.id}", class:'btn btn-info' %>
											</div>
										</div>
									<% end %>
									<div class="col-md-12">
											<a class="read_more" href="#">See More</a>
									</div>
								</div>
						</div>
					</div>
			</div>
		</div>
</div>
<!-- end products -->